Flask
openai==1.63.2
pandas
Unidecode
scikit-learn
bs4
google-cloud-vision
pinecone-client==5.0.1
langchain==0.3.19
langchain-community==0.3.18
langchain-core==0.3.37
langchain-openai==0.3.6
langchain-text-splitters==0.3.6
PyPDF2
python-docx
openpyxl
mammoth

# pip install openai==1.63.2
# pip install pinecone-client==5.0.1
# pip install langchain==0.3.19
# pip install langchain-community==0.3.18
# pip install langchain-core==0.3.37
# pip install langchain-openai==0.3.6
# pip install langchain-text-splitters==0.3.6
# pip install --upgrade --force-reinstall pandas six
# pip install mammoth==1.0.9



